.vscode
vscode-arduino

#Exclude all the binary files 
C_babies/hello
C_babies/variable
C_babies/dtype
C_babies/array
C_babies/staticarr
C_babies/pointer
C_babies/if
C_babies/nestl
C_babies/switch
C_babies/str
C_babies/struct

